*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------------------
    ESEMPIO FLEX
   ---------------------------------------
*/
.struttura {
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: end;

    flex-wrap: nowrap;
    align-content: center;

    gap: 8px;

    height: 500px;

    background:lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

/* ---------------------------------------
    ESEMPIO INLINE-FLEX 
   ---------------------------------------
*/
.contenitore-inline-flex {
    display: inline-flex;

    background:lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

/* ---------------------------------------
    ESEMPIO GRID
   ---------------------------------------
*/
.contenitore-grid {
    display: grid;

    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-rows: 200px 200px;

    /* grid-template-columns: auto auto; */
    /* grid-template-rows: 400px 100px 30px; */

    gap: 10px;

    padding: 10px;
    background: lightblue;
}

/* ---------------------------------------
    ESEMPIO INLINE GRID
   ---------------------------------------
*/
.contenitore-inline-grid {
    display: inline-grid;

    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-rows: 200px 200px;

    /* grid-template-columns: auto auto; */
    /* grid-template-rows: 400px 100px 30px; */

    gap: 10px;

    padding: 10px;
    background: lightblue;
}

/* stile per il contenitore */
.contenitore {
    background-color: #FA7F08;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
}

.contenitore p {
    font-size: 25px;
    font-weight: 600;
}

.contenitore:hover {
    opacity: 80%;
}

/* Stile distanziatore */
.distanziatore {
    height: 40px;
}