
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.struttura {
    display: flex;
}

.contenitore {
    background-color: #FA7F08;
    padding: 6px;
    border-radius: 6px;
}

.contenitore:hover {
    opacity: 80%;
}