/*
    Il reset CSS è una configurazione che applico per resettare
    tutti i parametri CSS che il browser applica di default.

    Esempi di parametri applicati dal browser di default: margini sulla pagina,
    margini sui titoli, padding (imbottitura) che si somma alla larghezza ecc. ecc.

    NOTA: Bootstrap, Tailwind e altre librerie CSS applicano il reset
    CSS di default. Questo lo fanno per un motivo di compatibilità con 
    tutti i dispositivi e per evitare che la larghezza della pagina HTML
    vada oltre la larghezza dello schermo del dispositivo.

    NOTA: il reset CSS rende la pagina web compatibile con la larghezza
    del dispositivo addattando le imbottiture, 
    ma non è l'unica regola da seguire e non è sufficiente per rendere
    una pagina web responsive (*1).

    RISORSA: Apri questo link se hai bisogno di un reset CSS
    avanzato e moderno. Scorri un po' la pagina e fai copia e
    incolla del reset: https://www.joshwcomeau.com/css/custom-css-reset/
    
    *1 RESPONSIVE: cosa significa questo termine? Responsive è un attributo
    che diamo alle pagine web per dire che queste si adattano a tutti i dispositivi,
    in particolar modo a quelli mobile (tablet, smartphone). Il reset CSS
    è UNO dei passi per conformarmi a questa compatibilità.

    Il secondo passo per rendere una pagina HTML responsive è la configurazione
    della VIEWPORT.
*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Questo in alto è un esempio di RESET CSS base */

/* ---------------------------------------
    ESEMPIO FLEX
   ---------------------------------------
*/
.struttura {
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    align-content: center;

    gap: 5px;

    height: 500px;

    background:lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;

    /* overflow: scroll; */ /* Prova tu stesso a usare flex con tanti elementi e vedi cosa succede */
}

.struttura .contenitore {
    padding: 60px;
}

/* ---------------------------------------
    ESEMPIO INLINE-FLEX 
   ---------------------------------------
*/
.contenitore-inline-flex {
    display: inline-flex;

    gap: 10px;

    background:lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

/* ---------------------------------------
    ESEMPIO GRID
   ---------------------------------------
*/
.contenitore-grid {
    display: grid;

    grid-template-columns: 2fr 1fr 1fr;

    /* grid-template-rows: 100px 200px; */
    grid-auto-rows: 100px;

    /* grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-rows: 200px 200px; */

    /* grid-template-columns: auto auto; */
    /* grid-template-rows: 400px 100px 30px; */

    gap: 10px;

    /* column-gap: 20px;
    row-gap: 30px; */

    padding: 10px;
    background: lightblue;
}

/* ALTRI ESEMPI CON GRID */
.contenitore-grid-altro {
    display: grid;

    grid-template-columns: 200px auto 50px;
    /* grid-template-columns: auto auto; */

    /* grid-template-rows: 80px 80px 80px 80px; */
    grid-auto-rows: 90px;

    /* allineamenti */
    /* justify-content: space-between;
    align-content: end; */

    justify-content: center;
    align-content: center;

    height: 600px;

    gap: 10px;

    padding: 10px;
    background: lightblue;
}

/* Con questa regola vado a centrare gli elementi CHILD del
contenitore griglia */
.contenitore-grid-altro .contenitore {
    align-content: center;
}

/* ---------------------------------------
    ESEMPIO INLINE GRID
   ---------------------------------------
*/
.contenitore-inline-grid {
    display: inline-grid;

    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-rows: 200px 200px;

    /* grid-template-columns: auto auto; */
    /* grid-template-rows: 400px 100px 30px; */

    gap: 10px;

    padding: 10px;
    background: lightblue;
}

/*
    CONTENITORE PER CAPIRE RESET CSS

    NOTA: prova a disattivare il reset css all'inizio di questo file
    e vedi come si comporta l'elemento DIV con questa class sul
    browser
*/
.contenitore-per-reset {
    background-color: lightblue;

    width: 100%;
    height: 100px;

    padding: 40px;

    margin-top: 100px;
    margin-bottom: 100px;
}

/* stile per il contenitore */
.contenitore {
    background-color: #FA7F08;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
}

.contenitore p {
    font-size: 25px;
    font-weight: 600;
}

.contenitore:hover {
    opacity: 80%;
}

/* Stile distanziatore */
.distanziatore {
    height: 40px;
}